/* universal */

body {
    font-family: "Helvetica", sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin: 0;
}

#main {
    position: absolute;
    top: 69px;
    width: 100%;
}

/* header */

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    text-decoration: none;
    z-index: 100;
    background-color: black;
}

header img {
    height: 50px;
    padding-left: 10px;
}

.nav {
    justify-content: space-around;
    padding-right: 10px;
}

.nav a {
    color: inherit;
    padding-left: 1.4rem;
}

/* mission */

#mission {
    display: flex;
    justify-content: center;
    width: 100%;
}

#mission .container {
    height: 700px;
    width: 1200px;
    background-image: url("../images/img-mission-background.jpg");
    display: flex;
    align-items: center;
}

#mission .container .text {
    background-color: black;
    width: 100%;
    text-align: center;
}

#mission h2 {
    margin: 15px;
}

#mission h4 {
    margin: 15px;
}

/* tea of the month */

#tea {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
}

#tea .type {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    flex-wrap: wrap;
}

#tea .heading {
    text-align: center;
}

#tea .heading h2 {
    margin-top: 0;
}

#tea .type .container img {
    height: 200px;
    width: 300px;
    padding: 10px;
}

#tea .type .container h4 {
    text-align: center;
    margin: 0;
}

/* locations */

#locations {
    display: flex;
    justify-content: center;
}

#locations .container {
    height: 500px;
    width: 1200px;
    background-image: url("../images/img-locations-background.jpg");
    display: block;
    justify-content: space-around;
    padding-top: 80px;
}

#locations .container .box .text {
    background-color: black;
    width: 300px;
    font-size: 22px;
    margin: 15px 20px;
    line-height: 3;
    text-align: center;
    opacity: 1;
}

#locations .container .box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#locations .container .box h3 {
    margin: 0;
}

#locations .container .box p {
    margin: 0;
}

#locations .heading {
    text-align: center;
}

#locations h2 {
    margin: 0;
}

/* footer */

footer .contact {
    text-align: center;
    height: 200px;
}

footer .copyright {
    text-align: left;
    padding-left: 20px;
}
